{% extends 'base.html' %}
{% block header_wrapper %}
{% with authenticate=True %}
{{ block.super }}
{% endwith%}
{% endblock header_wrapper%}
{% block content %}
{% load static %}
<section class="pt-50 pb-50">
  <div class="container">
    <div class="sec-title text-center">
      <h2>Welcome back, Mehdi!</h2>
    </div>
    <div class="row">
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInLeft">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img1.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
                <a href="jjjj-2.html" class="btn btn-gradient">JJJJJJJJJJJ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInRight">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img2.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
                <a href="jjjj-2.html" class="btn btn-gradient">JJJJJJJJJJJ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInUp">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img3.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
                <a href="jjjj-2.html" class="btn btn-gradient">JJJJJJJJJJJ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInUp">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img4.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInLeft">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img5.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->
      <!--Info Item Start-->
      <div class="col-lg-6 wow fadeInRight">
        <div class="box-card-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <img src="{% static 'img/img/img6.svg' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
              <div class="btn-area">
                <a href="jjjj-2.html" class="btn btn-gradient">AAAAAAAAAAA</a>
                <a href="jjjj-2.html" class="btn btn-gradient">JJJJJJJJJJJ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Info Item End-->

    </div>
  </div>
</section>
{% endblock %}