{% extends 'base.html' %}
{% block header_wrapper %}
{% with authenticate=True %}
{{ block.super }}
{% endwith%}
{% endblock header_wrapper%}
{% block content %}
{% load static %}
<section class="pt-120 pb-120 registration-area">
  <div class="container">
    <div class="step-by-step-form">
      <ul class="step-nav d-flex align-items-center justify-content-center">
        <li class="completed"><a href="{% url 'Registration' %}">ACCOUNT</a></li>
        <li><a href="{% url 'Payment' %}">PAYMENT</a></li>
        <li><a href="{% url 'Confirmation' %}">CONFIRMATION</a></li>
      </ul>
      <div class="row">
        <div class="form-area col-lg-8 ml-auto mr-auto">
          <div class="form-fields text-center mt-50 fw-500">
            <h2>Your registration has been confirmed! </h2>
          </div>
          <div class="text-center">
            <a href="{% url 'Payment' %}" class="btn btn-log btn-icon">
              <span class="icon">
                <span class="single-icon">
                  <svg style="width: 34px;transform: scale(1.3);" viewBox="0 0 41.17 35.266">
                    <g id="_1" data-name=" 1" transform="translate(0 0)">
                      <path id="Path_30523" data-name="Path 30523"
                        d="M37.53,35.486H3.64A3.64,3.64,0,0,1,0,31.856V13.13A3.64,3.64,0,0,1,3.64,9.49h6.489a.673.673,0,0,1,0,1.347H3.64A2.293,2.293,0,0,0,1.347,13.13V31.856A2.293,2.293,0,0,0,3.64,34.149H37.53a2.3,2.3,0,0,0,2.293-2.293V13.13a2.293,2.293,0,0,0-2.293-2.293h-6.1a.673.673,0,0,1,0-1.347h6.1a3.65,3.65,0,0,1,3.64,3.64V31.856A3.64,3.64,0,0,1,37.53,35.486Z"
                        transform="translate(0 -0.22)" fill="#1585d8" />
                      <path id="Path_30524" data-name="Path 30524"
                        d="M40.746,21.929H10.983a.673.673,0,0,1,0-1.347H40.072V15.967H29.416a.673.673,0,1,1,0-1.347H40.746a.673.673,0,0,1,.673.673v5.933a.673.673,0,0,1-.673.7Z"
                        transform="translate(-0.249 -0.344)" fill="#1585d8" />
                      <path id="Path_30525" data-name="Path 30525"
                        d="M5.855,21.93H.673A.673.673,0,0,1,0,21.256V15.323a.673.673,0,0,1,.673-.673H12.461a.673.673,0,0,1,0,1.347H1.347v4.586H5.855a.673.673,0,0,1,0,1.347Z"
                        transform="translate(0 -0.345)" fill="#1585d8" />
                      <path id="Path_30526" data-name="Path 30526"
                        d="M36.782,31.475H29.22A1.269,1.269,0,0,1,28,30.216V26.879a1.269,1.269,0,0,1,1.269-1.269h7.514a1.269,1.269,0,0,1,1.269,1.269v3.337A1.269,1.269,0,0,1,36.782,31.475Zm-7.475-1.337h7.4V26.966H29.3Z"
                        transform="translate(-0.677 -0.61)" fill="#1585d8" />
                      <path id="Path_30527" data-name="Path 30527"
                        d="M25.445,31.587H13.735a.673.673,0,0,1,0-1.337h11.71a.673.673,0,1,1,0,1.337Z"
                        transform="translate(-0.318 -0.722)" fill="#1585d8" />
                      <path id="Path_30528" data-name="Path 30528"
                        d="M25.529,28.557H17.3a.673.673,0,1,1,0-1.347h8.226a.673.673,0,1,1,0,1.347Z"
                        transform="translate(-0.402 -0.648)" fill="#1585d8" />
                      <path id="Path_30529" data-name="Path 30529"
                        d="M20.883,16.715a8.363,8.363,0,1,1,8.363-8.363,8.363,8.363,0,0,1-8.363,8.363Zm0-15.369A7.016,7.016,0,1,0,27.9,8.353a7.016,7.016,0,0,0-7.016-7.006Z"
                        transform="translate(-0.303 0.01)" fill="#1585d8" />
                      <path id="Path_30530" data-name="Path 30530"
                        d="M20.968,11.48a.634.634,0,0,1-.42-.146L16.3,7.948a.683.683,0,0,1-.1-.976.673.673,0,0,1,.976-.107L20.88,9.9l7.26-7.807A.673.673,0,1,1,29.116,3l-7.65,8.265a.664.664,0,0,1-.5.215Z"
                        transform="translate(-0.388 -0.034)" fill="#1585d8" />
                    </g>
                  </svg>
                </span>
              </span>
              Payment plan
            </a>
          </div>
          <div class="text-center">
            <a class="btn-normal" href="#">Skip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PopUp Price-->
<!-- Modal -->
<div class="modal fade" id="Price_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered lg-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <span class="icon">
            <svg viewBox="0 0 26.214 26.988">
              <g id="two-straight-arrows-square-shape-of-exchange" transform="translate(-1.75)">
                <path id="Path_10038" data-name="Path 10038"
                  d="M1.75,4.6A4.592,4.592,0,0,0,4.759,8.937v14.2a.873.873,0,0,0,.774.8H12.28l-1.04.841a1.123,1.123,0,0,0-.42.863,1.308,1.308,0,0,0,.42.951,1.386,1.386,0,0,0,1,.4,1.406,1.406,0,0,0,1-.42C16.7,23.1,16.7,23.073,16.7,23.073a1.431,1.431,0,0,0,.376-1.062,1.4,1.4,0,0,0-.465-.951c0-.022-3.385-3.385-3.385-3.385a1.416,1.416,0,0,0-2.411,1,1.511,1.511,0,0,0,.42,1.039l1.04,1.106H8.762a.675.675,0,0,1-.686-.686V8.849a4.806,4.806,0,0,0,2.9-4.269A4.579,4.579,0,0,0,6.373,0,4.631,4.631,0,0,0,1.75,4.6ZM6.373,2.809A1.792,1.792,0,1,1,4.582,4.6,1.784,1.784,0,0,1,6.373,2.809Z"
                  fill="#fff" />
                <path id="Path_10039" data-name="Path 10039"
                  d="M66.505,22.465a4.652,4.652,0,0,0-3.075-4.336V3.927a.692.692,0,0,0-.641-.73H56.02l1.04-.863a1.168,1.168,0,0,0,.42-.885A1.308,1.308,0,0,0,57.06.5a1.387,1.387,0,0,0-1-.4,1.407,1.407,0,0,0-1,.42L51.618,3.971a1.431,1.431,0,0,0-.376,1.062,1.4,1.4,0,0,0,.465.951l3.385,3.385a1.407,1.407,0,0,0,1,.42,1.387,1.387,0,0,0,1-.4,1.408,1.408,0,0,0,.42-1,1.46,1.46,0,0,0-.42-1.018L56.02,6.294h3.54c.376,0,.553.243.553.619V18.2a4.746,4.746,0,0,0-2.831,4.269,4.579,4.579,0,0,0,4.6,4.579A4.626,4.626,0,0,0,66.505,22.465Zm-4.557,1.792a1.792,1.792,0,1,1,1.792-1.792A1.785,1.785,0,0,1,61.948,24.257Z"
                  transform="translate(-38.542 -0.078)" fill="#fff" />
              </g>
            </svg>
          </span>
          Change payment plan
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row pricing-area pricing-row">
          <!--Price Item-->
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="pricing-item">
              <div class="pricing-top">
                <h5>BASIC</h5>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="pricing-center">
                <div class="top-info">
                  <h2>$99.99</h2>
                  <span>per annum</span>
                </div>
                <p>Individual License restricted to personal use only </p>
              </div>
              <div class="checkbox checkbox-bg text-center">
                <label class="actives">
                  <input type="checkbox" checked="" class="filled"><span class="checkbox-material"><span
                      class="check"></span></span>Select
                </label>
              </div>
            </div>
          </div>
          <!--Price Item-->
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="pricing-item">
              <div class="pricing-top">
                <h5>PROFESSIONAL</h5>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="pricing-center">
                <div class="top-info">
                  <h2>$149.99</h2>
                  <span>per annum</span>
                </div>
                <p>Individual License restricted to personal use only </p>
              </div>
              <div class="checkbox checkbox-bg text-center">
                <label class="actives">
                  <input type="checkbox" checked="" class="filled"><span class="checkbox-material"><span
                      class="check"></span></span>Select
                </label>
              </div>
            </div>
          </div>
          <!--Price Item-->
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="pricing-item">
              <div class="pricing-top">
                <h5>Premium</h5>
                <p>$189.99</p>
              </div>
              <div class="pricing-center">
                <div class="top-info">
                  <h2>$99.99</h2>
                  <span>per annum</span>
                </div>
                <p>Individual License restricted to personal use only </p>
              </div>
              <div class="checkbox checkbox-bg text-center">
                <label class="actives">
                  <input type="checkbox" checked="" class="filled"><span class="checkbox-material"><span
                      class="check"></span></span>Select
                </label>
              </div>
            </div>
          </div>
          <!--End-->
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="pyment-2.html" class="btn btn-pri">Save changes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}